In [1]:
import pandas as pd
%matplotlib inline

pd.options.display.max_rows = 20

In [5]:
data = pd.read_csv('data.csv', thousands=',',index_col = 'id' )
data

,Name,Short_country_name,Full_country_name,P1,P2,P3,P4,P5,P6,Points,Rank,Year,Achievement
id,,,,,,,,,,,,,
15785,Konstantin Matveev,RUS,Russian Federation,7,7,2,7,7,7,37,1,2007,Gold medal
8821,Caili Shen,CHN,People's Republic of China,7,7,7,7,7,1,36,2,2007,Gold medal
8976,Danylo Radchenko,UKR,Ukraine,7,7,0,7,7,7,35,4,2007,Gold medal
7893,Toshiki Kataoka,JPN,Japan,7,7,3,7,7,1,32,7,2007,Gold medal
15770,Livia Alexandra Ilie,ROU,Romania,7,7,4,7,7,0,32,7,2007,Gold medal
8868,Alex (Lin) Zhai,USA,United States of America,7,7,3,7,7,1,32,7,2007,Gold medal
8884,Jeha Yang,KOR,Republic of Korea,7,7,2,7,7,1,31,12,2007,Gold medal
8410,Panupong Pasupat,THA,Thailand,7,7,3,7,7,0,31,12,2007,Gold medal
8500,Jack Shotton,UNK,United Kingdom,7,7,2,7,7,1,31,12,2007,Gold medal
8878,Nikolay Ivanov Beluhov,BGR,Bulgaria,7,7,2,7,7,0,30,19,2007,Gold medal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26456,Kais Mussa,KEN,Kenya,0,0,0,0,0,0,0,568,2016,NaN
26996,Namfone Homsombath,LAO,Laos,0,0,0,0,0,0,0,568,2016,NaN
26993,Silinapha Phommasone,LAO,Laos,0,0,0,0,0,0,0,568,2016,NaN
26998,Somsanouk Sibountien,LAO,Laos,0,0,0,0,0,0,0,568,2016,NaN
26908,Alain Priva Hajamapionona,MDG,Madagascar,0,0,0,0,0,0,0,568,2016,NaN
26682,Shine Maw Arnt,MMR,Myanmar,0,0,0,0,0,0,0,568,2016,NaN
26680,Hnin Wai,MMR,Myanmar,0,0,0,0,0,0,0,568,2016,NaN
26432,Osama Zeeshan Ahmad,PAK,Pakistan,0,0,0,0,0,0,0,568,2016,NaN
26994,Mekan Shahanov,TKM,Turkmenistan,0,0,0,0,0,0,0,568,2016,NaN
26512,Dilshod Bakhriddinov,UZB,Uzbekistan,0,0,0,0,0,0,0,568,2016,NaN